.about-us {
  padding-bottom: 20px;
}

.about-us__list {
  @include list-style-reset();
  margin: 0;
}

.about-us__title {
  margin-bottom: 30px;
}

.about-us__list-item {
  min-height: 60px;
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: $grey;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
    background-color: $main-green;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px 50px;
  }

  &:nth-child(1n)::before {
    background-image: url("../../img/advantage-leaf@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/advantage-leaf@2x.png");
    }
  }

  &:nth-child(2n)::before {
    background-image: url("../../img/advantage-powder@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/advantage-powder@2x.png");
    }
  }

  &:nth-child(3n)::before {
    background-image: url("../../img/advantage-dining@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/advantage-dining@2x.png");
    }
  }

  &:nth-child(4n)::before {
    background-image: url("../../img/advantage-clock@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/advantage-clock@2x.png");
    }
  }
}
