.button {
  display: flex;
  padding: 10px 14px 11px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  justify-content: center;
  text-transform: uppercase;
  background-color: $main-green;
  color: $white;
}
