.nav {
  border-bottom: 1px solid $light-grey;

  @media (min-width: $tablet) {
    display: flex;
    max-width: 768px;
    margin: 0 auto;
    padding: 23px 30px;
    justify-content: space-between;
    border-bottom: none;
  }
}

.nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 15px 20px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: auto;
    padding: 0;
    margin: 0;
  }
}

.nav__logo {
  display: flex;
  flex-shrink: 0;
}

.nav__logo-picture {
  display: block;

  @media (min-width: $tablet) {
    width: 174px;
    height: 59px;
  }
}

.nav__menu-toggler {
  display: flex;
  padding: 0;
  border: none;
  width: 25px;
  height: 19px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../img/icon-mobile-menu.svg");
  cursor: pointer;

  &--active {
    background-image: url("../../img/icon-close.svg");
    width: 19px;
  }

  &--no-js {
    display: none;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav__menu-list {
  display: none;

  &--active {
    @include list-style-reset();
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  @media (min-width: $tablet) {
    @include list-style-reset();
    margin: 0;
    padding-top: 2px;
    display: flex;
  }
}

.nav__menu-item {
  padding-top: 20px;
  padding-bottom: 23px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
    background-color: $very-light-grey;
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      display: none;
    }
  }
}

.nav__menu-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: $font-black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    color: $font-tablet-black;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.39;
  }
}
